body * {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-weight: 700;
	font-size: 45px;
	background-color: rgb(200, 198, 198);
	padding: 10px;
	text-align: center;
}

h2 {
	font-weight: 700;
	font-size: 30px;
	background-color: rgb(200, 198, 198);
	padding: 10px;
	text-align: center;
}

body {
	background-color: #737373;
	padding-top: 10px;
	padding-bottom: 10px;
}

p {
	color: black;
}

.page {
	width: 1200px;
	background-color: #f0f0f0;
	margin: auto;
	padding: 50px;
	padding-top: 35px;
}

.vis-container {
	width: 100%;
	text-align: center;
	padding: 10px;
}

.description h2,
h1 {
	margin-top: 0px;
}

.description-right {
	padding-left: 20px;
}

.description-left {
	padding-right: 20px;
}

.pure-g {
	margin-bottom: 40px;
}

.small-font {
	font-size: 14px;
}

.footer {
	font-size: 12px;
	text-align: left;
}